<!DOCTYPE html>
<html>
<head>
  <title>今週何しよう.com(仮)</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header class="bg-info">
      <div class="header-left"><%= link_to "始める.com(仮)", root_path %></div>
      <div class="header-right">検索</div>
    </header>
</div>
  
<%= yield %>

  <div class="bg-info text-center">
  	<footer>
  	  Copyright © <%= link_to "始める.com(仮)", root_path %> All Rights Reserved.
  	</footer>
	</div>

</body>
</html>
